h1{
    font-family: sans-serif;
}
p{
    font-weight: 600;
    font-size: 3em;
    line-height: 5px;
}
body{
    font-size: 16px;
    font-style: oblique;
    text-align: center;
    text-decoration: dashed;
}
#amarelo{
    background-color: yellow;
}
#vermelho{
    background-color: red;
}
#Marrom{
    background-color: rgb(94, 81, 23);
}