body {
    display: flex;
    justify-content: center;
    background-color: black;
}

#local-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 900px;
    /* background-color: black; */
}

.box-login {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
    width: 50%;
    height: 500px;
    background-color: aqua;
    border-radius: 30px;
    opacity: 50%;
}